* {
    box-sizing: border-box;
}
  
  
#logo1{
  color:#33333300;
  width:100px;
  height: 100px;
  background-image: url("/asset/logo/logo0.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6px;
}

#designer {
   clip-path: circle(37% at 50% 50%);
}
    

/* @media screen and (max-width: 600px){
    nav {
      display: flex;
      flex-direction: column;
      position:relative;
    }
  }
     */