* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Initial state for animation (hidden off-screen) */
  .hidden1 {
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 1s ease, transform 1s ease;
  }
  
  /* Animation when element is in view */
  .visible1 {
      opacity: 1;
      transform: translateY(0);
  }